body {}

.navbar-custom .nav-link:hover,
.navbar-custom .dropdown .dropdown-item:hover {
    color: #1766a4 !important;
    background-color: white !important;
    transition: 0.5s;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .nav-link:hover {
    color: #1766a4 !important; 
    background-color: #fff;
}

.navbar-custom {
    background-color: white !important;
}

.custom-btn {
    background-color: #1766a4 !important;
    color: white !important;
}

.btn a {
    text-decoration: none;
    color: inherit;
}

main div ul li {
    list-style-type: none;
}

.link{
    color: #000;
    background-color: white;
    transition: 0.5s;
}

.link:hover {
    color: #1766a4;
    transition: 0.5s;
}

img {
    border-radius: 20px;
}

.socialmediabody{
    color: #1766a4;
    transition: 0.5s;
}

footer {
    background-color: #1766a4;
    color: white;
    transition: 0.5s;
}

footer p a 
{
    color:white;
    text-decoration: underline;
    transition: 0.5s;
}

.footerlink:hover {
    transition: 0.5s;
    text-decoration: none;
}

i {
    color: white;
}

.box {
    height: 300px;
}