body {}

.navbar-custom .nav-link:hover,
.navbar-custom .dropdown .dropdown-item:hover {
    color: #1766a4 !important;
    background-color: white !important;
    transition: 0.5s;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .nav-link:hover {
    color: #1766a4 !important; 
    background-color: #fff;
}

.navbar-custom {
    background-color: white !important;
}

.custom-btn {
    background-color: #1766a4 !important;
    color: white !important;
}

.btn a {
    text-decoration: none;
    color: inherit;
}

main div ul li {
    list-style-type: none;
}

main div ul li a{
    color: #000;
    background-color: white;
}

main div ul li a:hover {
    color: #1766a4 ;
    transition: 0.5s;
}

footer {
    background-color: #1766a4;
    color: white;
}
